@import "./breakpoints.scss";
html, body, #root, .App, .App>div {
  height: 100%;
}

.add-category-button {
  margin-left: 2em;
  &:hover {
    color: #FFF;
    text-decoration: none;
  }
  padding: 0.5em 0.8em 0.5em 0.8em;
  color: #FFF;
  background-color: #7e7eff;
}