form {
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    width: 650px;
    max-width: 85%;
    input[type="text"], input[type="number"], select {
        width: 650px;
        max-width: 100%;
        border: 1px solid #d5d5d5;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
        padding: 0.25em 0.45em;
    }
    h3 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
}