.textEditorWrapper {
    width: 650px;
    max-width: 100%;
    border: 1px solid #d5d5d5;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.textEditorArea {
    min-height: 200px;
    padding-left: 1.5em;
    padding-right: 1.5em;
    line-height: 5px;
    letter-spacing: 0;
}