.easyPopover {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    // height: 100vh;
    width: 100vw;
    background-color: rgba(256, 256, 256, 0.78);
    margin: auto;
    display: none;
    .easyModal {
        background-color: #FFF;
        position: relative;
        margin: auto;
        top: 10%;
        max-width: 70%;
        max-height: 80%;
        border-radius: 5px;
        &__header {
            border-bottom: 1px solid #B4B4B4;
            height: 60px;
            margin-top: 0;
            margin-bottom: auto;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 2em;
            padding-right: 2em;
            display: flex;
            align-items: center;
            h2 {
                font-size: 1.5rem;
                font-weight: 400;
                font-family: sans-serif;
                margin: 0;
            }
            &--icon {
                margin-right: 0.5em;
                font-size: 1.3rem;
            }
        }
        &__body {
            // margin: auto;
            text-align: left;
            margin: 0;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 2em;
            padding-right: 2em;
            height: auto;
            max-height: 70%;
        }
        &__footer {
            border-top: 1px solid #B4B4B4;
            margin-top: auto;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding-top: 1em;
            padding-bottom: 1em;
            padding-left: 2em;
            padding-right: 2em;
            height: 70px;
            max-height: 70px;
            button {
                min-width: 110px;
                height: 40px;
                font-size: 1rem;
                text-transform: capitalize;
                text-align: center;
                background-color: transparent;
                color: #000;
                border: 1px solid #B4B4B4;
            }
        }
        &__close {
            position: absolute;
            top: 15px;
            right: 15px;
            cursor: pointer;
        }
        .modal_success {
            color: #3EAB36;
        }
        .modal_error {
            color: #FF0000;
        }
        .small {
            width: 400px;
        }
        .default {
            width: 50%;
        }
        .large {
            width: 70%;
        }
    }
    .easySpinner {
        height: 100%;
        width: 100%;
        background: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .easyProgress {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        &__progressindicator {
            position: relative;
            width: 200px;
            height: 40px;
            background-color: #B1B1B1;
            &:before {
                content: '';
                height: 100%;
                width: attr(data-progress);
            }
        }
    }
}
.showModal {
    display: block;
}